<html>
  <head>
    <title>Layout with Greeting</title>
  </head>
  <body>
    <header>
      Greetings! Have this beverage!
    </header>
    <article>
      <%= yield %>
    </article>
  </body>
</html>
