<html>
  <head>
    <title>Layout with Greeting</title>
  </head>
  <body>
    <header>
      Liquid greetings! Have this beverage!
    </header>
    <article>
      {{ content }}
    </article>
  </body>
</html>
