<html>
  <head>
    <title>Layout with Greeting</title>
  </head>
  <body>
    {% render "_partials/included_header_partial" with entry: entry %}
    <article>
      {{ content }}
    </article>
  </body>
</html>
